@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
:root {
  --h1-font-size: 45px;
  --h2-font-size: 30px;
  --h3-font-size: 25px;
  --h4-font-size: 20px;
  @include respond-up(md) {
    --h2-font-size: 40px;
  }
  @include respond-up(lg) {
    --h1-font-size: 60px;
    --h2-font-size: 50px;
    --h3-font-size: 40px;
  }
  @include respond-up(xl) {
    --h1-font-size: 70px;
    --h2-font-size: 60px;
    --h3-font-size: 50px;
    --h4-font-size: 20px;
    --h5-font-size: 16px;
    --h6-font-size: 12px;
    --p-font-size: 16px;
  }
}

*,
*::before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
main,
section,
footer {
  width: 100%;
  display: block;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  font-family: $font-inter;
  overflow-x: hidden;
}
